<table class="table">
  <thead>
  <tr class="row">
    <th class="col-2 text-center"></th>
    <th class="col-3 text-center">ID</th>
    <th class="col-5 text-center">Name</th>
    <th class="col-2 text-center"></th>
  </tr>
  </thead>
  <tbody>
  <div *ngFor="let customer of customerList">
    <div *ngIf="!customer.selected && customer.name!=='' && customer.id!==''">
      <app-customer [id]="customer.id" [name]="customer.name"
                    [selected]="customer.selected"/>
    </div>
  </div>
  </tbody>
  <tfoot
    *ngIf="customerList.length===0 || customerList[0].id==='' || customerList[0].name==='' || (customerList.length-selectedCount<=0)">
  <tr class="row">
    <td colspan="4" class="text-center">No Customers yet!</td>
  </tr>
  </tfoot>
</table>
